body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-upper-case {
    text-transform: uppercase;
}

.btn {
    transition: .3s;
    outline: none;
    border: none;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.table {
    border-radius: .6rem;
    padding: 3rem !important;
    width: 85% !important;
}

.table-dark {
    background-color: #383535;
    color: #fff;
    border-color: grey;
}

    .table-dark thead > tr > th {
        border: none !important;
        text-transform: uppercase;
    }

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    vertical-align: unset !important;
}

.body-content {
    margin-top: 4rem !important;
}

.body-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    margin-bottom: 2.5rem;
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
